.music-reco ul{
    display: grid;
    grid-template-columns: 38rem 38rem 38rem 38rem 38rem 15rem;
    grid-template-rows: repeat(4, 50px);
    row-gap: 15px;
    margin-top: 20px;
    padding-bottom: 20px;
    overflow-x: scroll;
}

.music-reco ul::-webkit-scrollbar{
    background-color: transparent;
    height: 8px;
}

.music-reco ul::-webkit-scrollbar-thumb{
    background-color: grey;
    border-radius: 10px;
}

.music-reco ul li a{
    display: flex;
    align-items: center;
}


.music-reco ul li img{
    height: 50px;
}

.det{
    padding-left: 10px;
}

.det h2{
    font-weight: 500;
}