@import "sidebar.css";
@import "main-nav.css";
@import "nav-btn.css";
@import "music-reco.css";
@import "grid-temp.css";
@import "color.css";

.main-banner{
    background: linear-gradient(rgba(1, 164, 170, 0.377), rgba(0,0,0,0),rgba(0,0,0,0));
    background-color: var(--primary-color);
    backdrop-filter: blur(10px);
    padding: 10px 100px;
    overflow-x: hidden;
}

/* Profile Banner */
.welcome-profile{
    display: flex;
    align-items: center;
    color: white;
}

.welcome-profile h2{
    font-weight: 400;
}

.welcome-profile img{
    height: 150px;
    border-radius: 100%;
}

.welcome-text{
    padding-left: 20px;
}

.welcome-text h1:hover{
    text-decoration: underline;
}

/* Re-sizing only */
.selection-container{
    margin-top: 80px;
}

.music-reco{
    margin-top: 50px;
}

/* Top Hits Section */
.hits{
    margin: 80px 0;

}

.hit-container{
    display: flex;
    gap: 30px;
}

.hits-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hits-header h1{
    font-size: 50px;
    color: white;
    margin-bottom: 10px;
}

.hit-box{
    display: flex;
    flex-direction: column;
    color: white;
}

.hit-box img{
    height: 20rem;
    width: 20rem;
    border-radius: 10px;
}

.hits-det{
    margin-top: 10px;
}

.hit-content{
    display: flex;
    justify-content: left;
    overflow: hidden;
    scroll-behavior: smooth;
}

#container-2{
    margin-left: 20px;
}